@font-face {
    font-family: "bangers";
    src: "../font/Bangers.ttf";
}
@font-face{
    font-family: "Digi";
    src: "../font/DIGI.otf";
    src: "../font/DIGI.ttf";
}

.head-search-input{
    unicode-bidi: embed;
    direction: rtl;
    outline: none;
    /* flex-direction: row-reverse; */
}
.head-search-input::placeholder{
    font-family: 'Digi';
}
.hide{
    display: none;
}
*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    font-family: 'Digi' ;
}
.change-font-logo{
    font-family: 'Bangers';
}
.change-font{
    font-family: 'Digi';
}
.dir-text{
    unicode-bidi: embed;
    direction: rtl;
    white-space: pre-wrap;
    
}
